@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500&display=swap');

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

html,
body {
    overflow-x: hidden;
    background-color: #F9F9F9;
}

html {
    overflow-x: initial;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #313539;
    background-color: #F0F6F8;
}

address {
    font-style: normal;
}

input:focus {
    outline: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.btn {
    border-top: 1px solid #28477C;
    background-color: #28477C;
    color: #FFFFFF;

    transition: background-color .5s;
}

.btn path {
    fill: #FFFFFF;
}

.btn:disabled {
    cursor: default;
    background-color: transparent;
}

.btn:disabled path {
    fill: #28477C;
}

.btn:disabled span {
    color: #28477C;
}

.header_title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #000000;
    border-bottom: 3px solid #28477C;
    display: inline-block;
}

.header_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 46px;
    margin-bottom: 29px;
}

.ticket {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 57px;
    padding: 0 15px;
    border: 1px solid #28477C;
    gap: 10px;
}

.md_txt {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.calendar {
    border: 1px solid #28477C;
    position: relative;
}

.calendar > div {
    height: 100%;
}

.calendar > div > div {
    width: 100%;
    height: 100%;
}

.calendar-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    padding: 0 15px;
}

.calendar_label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.react-datepicker-popper,
.react-datepicker,
.react-datepicker__month-container
{
    width: 100%;
}

.react-datepicker__current-month {
    text-transform: capitalize;
}

.header_txt {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
}

.basket {
    width: 148px;
    height: 57px;
    border: 1px solid #28477C;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    cursor: pointer;
}

.basket span {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.wrapper {
    padding-top: 64px;
    padding-bottom: 67px;
}

.calendar_input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.ticket_title {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    position: relative;
}

.ticket_title:after {
    position: absolute;
    content: '';
    width: 25px;
    height: 3px;
    background-color: #28477C;
    left: 0;
    bottom: -3px;
}

.ticket_top {
    border-bottom: 1px solid #28477C;
    position: relative;
    padding: 18px 16px 14px 20px;
}

.ticket-icon {
    position: absolute;
    top: 0;
    right: 0;
}

.ticket_desc span {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.ticket_desc {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    align-items: flex-start;
}

.cabin_desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 145px;
    max-width: 145px;
}

.line .input_plugin_number {
    text-align: center;
}

.line {
    width: 80px !important;
}

.main_number_plugin.line {
    border: 1px solid #28477C;
}

.line .input_plugin_number {
    border-radius: 0;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #28477C;
}

.line .minus_plugin_number {
    border-color: transparent;
    background-color: #ffffff;
}

.line .plus_plugin_number {
    border-color: transparent;
    background-color: #ffffff;
}

.line .plus_plugin_number:before {
    content: '';
    background-image: url('../public/img/plus.svg');
    background-repeat: no-repeat;
    width: 12px;
    height: 14px;
    top: 36%;
}

.line .minus_plugin_number:before {
    content: '';
    background-image: url('../public/img/minus.svg');
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    top: 48%;
}

.line .input_plugin_number {
    border-color: transparent;
    padding-left: 0;
}

.number_txt {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #28477C;
}

.ticket_price_col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 14px 24px;
}

.ticket_price_col:first-child {
    border-right: 1px solid #28477C;
}

.ticket_price {
    display: flex;
    justify-content: space-between;
}

.ticket_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 579px);
    gap: 12px;
    justify-content: center;
}

.ticket_card {
    border: 1px solid #28477C;
    border-radius: 2px;
    min-height: 269px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ticket-icon {
    top: 23px;
    right: 164px;
}

.ticket_btn {
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.ticket_btn span {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.ticket_block span:first-child {
    display: block;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #313539;
    white-space: nowrap;
}

.ticket_block span:last-child {
    display: block;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #313539;
    text-transform: lowercase;
}

.ticket_desc_txt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 5px;
}

.ticket_desc_inner {
    display: flex;
    align-items: flex-end;
    gap: 11px;
}

.cabin {
    text-transform: uppercase;
}

.ticket_top.dark {
    background-color: #28477C;
}

.ticket_title.dark {
    color: #ffffff;
}

.cabin.dark {
    color: #ffffff;
}

.ticket_block.dark span {
    color: #ffffff;
}

.warning {
    border: 1px solid #BD0F04;
    border-radius: 2px;
    padding-top: 21px;
    padding-bottom: 27px;
    margin-top: 15px;
    margin-bottom: 18px;
}

.warning_txt {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #BD0F04;
}

.premium_img {
    width: 537px;
    height: 163px;
    object-fit: cover;
}

.premium_card {
    border: 1px solid #28477C;
    margin-bottom: 84px;
    position: relative;
}

.premium_card:after {
    position: absolute;
    content: '';
    width: 457px;
    height: 3px;
    background-color: #28477C;
    bottom: -50px;
}

.premium_card_half:last-child {
    background-color: #fff;
    padding: 71px 44px 52px 44px;
}

.cabin_txt {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #28477C;
}

.premium_card {
    display: flex;
}

.cabin_wrp {
    display: flex;
    align-items: flex-end;
    gap: 13px;
}

.premium_cabin_desc {
    justify-content: center;
}

.ticket_price_premium {
    justify-content: center;

}

.ticket_col_premium:first-child {
    border-right: 1px solid transparent;
}

.premium_card_half:last-child {
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.ticket_desc_premium {
    margin-top: 29px;
}

.rules_label {
    display: flex;
}

.basket_input {
    width: 257px;
    height: 57px;
    border: 1px solid #28477C;
    background-color: #F0F6F8;
    padding-left: 54px;
    padding-right: 10px;
}

.basket_txt {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

}

.input_wrp:first-child {
    margin-bottom: 16px;
    margin-top: 20px;
    position: relative;
}

.input_wrp:first-child::before {
    position: absolute;
    content: '';
    background-image: url('../public/img/mail_icon.svg');
    width: 20px;
    height: 13px;
    background-repeat: no-repeat;
    background-size: cover;
    top: 22px;
    left: 10px;
}

.input_wrp:nth-child(2) {
    position: relative;
    margin-bottom: 29px;
}

.input_wrp:nth-child(2)::before {
    position: absolute;
    content: '';
    background-image: url('../public/img/phone_icon.svg');
    width: 16px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    top: 16px;
    left: 10px;
}

.rules_input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.rules_label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.rules_label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #28477C;
    border-radius: 2px;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.rules_input:checked + .rules_label::before {
    background-color: #F0F6F8;
    background-image: url('../public/img/checkbox_mark.svg');
}

.input_group {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.basket_txt {
    display: block;
    margin-top: 51px;
}

.rules_link_lg {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 311px;
    height: 57px;
    border: 1px solid #BD0F04;
    border-radius: 2px;
    margin-top: 33px;
}

.rules_link_lg span {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #BD0F04;
    text-decoration: none;
    display: block;
}

.rules_link {
    color: #28477C;
}

.promocode_input {
    width: 199px;
    margin-top: 38px;
    margin-left: 17px;
}

.total_price {
    margin-top: 38px;
}

.total_price span:first-child {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.total_price span:nth-child(2) {
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #BD0F04;
}

.purchases {
    background-image: url('../public/img/frame.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 340px;
    /*height: 368px;*/
    padding: 43px 43px 53px 45px;
}

.purchases_number {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.purchases_txt {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.purchases_txt span:first-child {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

.purchases_txt span:nth-child(2) {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.purchases_txt span:last-child {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
}

.purchases_inner {
    display: flex;
    gap: 13px;
}

.purchases_inner:first-child {
    margin-bottom: 24px;
}

.purchases_inner:nth-child(2) {
    margin-bottom: 30px;
}

.purchases_inner span {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.purchases_close {
    background-color: #F0F6F8;
    cursor: pointer;
}

.purchases_block {
    display: flex;
    align-items: center;
    margin-top: 14px;
    justify-content: space-between;
}

.basket_block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.purchases_block_inner {
    display: flex;
    gap: 22px;
    align-items: center;
}

.special_offer_title {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 56px;
}

.special_offer {
    background: #FFFFFF;
    border: 1px solid #BD0F04;
    width: 356px;
    height: 358px;
    padding: 50px 36px 58px 54px;
}

.special_offer_partners {
    display: flex;
    gap: 37px;
}

.basket_col {
    width: 331px;
}

.warning2 {
    background-color: #BD0F04;
    border-radius: 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 26px;
    padding: 23px 23px 19px 41px;
    margin-top: 28px;
}

.warning2_txt {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer {
    margin-top: 28px;
    display: flex;
    align-items: center;
}

.pay_btn {
    background-color: #28477C;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 200px;
    height: 57px;
    margin-right: 25px;
    cursor: pointer;
}

.pay_btn:disabled {
    background-color: grey;
}

.pay_txt {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.calendar_wrp {
    display: flex;
    gap: 16px;
}

@media screen and (max-width: 1200px) {

    html,
    body {
        min-width: 620px;
    }

    section {
        min-width: 600px;
        width: 100%;
    }

    header {
        min-width: 600px;
        width: 100%;
    }

    .container {
        width: 90% !important;
    }

    .premium_card {
        flex-direction: column;
    }

    .premium_card_half:first-child {
        order: 2;
    }

    .basket_block {
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media screen and (max-width: 1100px) {
    .calendar_wrp {
        flex-direction: column;
        gap: 10px;
    }

    .header_row {
        flex-wrap: wrap;
    }


}

@media screen and (max-width: 900px) {
    .ticket_desc {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 800px) {
    .basket {
        margin-top: 10px;
    }
}

.invalid-form {
    display: block;
    margin-top: 16px;
    color: red;
    font-size: 14px;
}
